* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0.5px solid red; */
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#coverPage {
    background: url(/images/1.png);
    background-size: cover;
    background-position: 50% 70%;
    width: 100%;
    height: 100%;
    padding-top: 5px;
}

#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    background: #000000 !important;
    z-index: 1;
}

#navBarName {
    font-family: sans-serif;
    transition: background-color 1s;
    padding: 15px;
    font-size: 3vw;
    height: auto;
    text-decoration: none;
}

#navBarName:link {
    color: whitesmoke;
}

#navBarName:visited {
    color: whitesmoke;
}

#navBarName:hover {
    color: #000000;
    background-color: #feb400;
}

#navListItems {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 25px;
    gap: 10px;
}

.navItem {
    transition: color 1s;
    transition: background-color 1s;
    padding: 15px;
    font-size: 2.5vw;
    text-decoration: none;
}

.navItem:link {
    color: whitesmoke;
}

.navItem:visited {
    color: whitesmoke;
}

.navItem:hover {
    color: #000000;
    background-color: #feb400;
}

.welcomeContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box {
    width: 500px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.box .title {
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    height: auto;
    color: whitesmoke;
}

.box .sub-title {
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: center;
}

.sub-title p {
    color: #feb400;
    font-family: sans-serif;
    font-size: 2.2vw;
    font-weight: 200;
    font-style: italic;
}



#pageTitle {
    color: #242526;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 3vw;
}

#underLine {
    width: 80px;
    background-color: #feb400;
    height: 2px;
    box-shadow: 1px 1px 1px black;
    border: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#portfolioPage {
    background-color: #ebebeb;
    width: 100%;
    min-height: 100vh;
    padding-top: 12vh;
    padding-bottom: 70px;

}

.allProjectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
}

.singleProjectContainer {
    width: 270px;
    padding: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px #010101;
    opacity: 1;
    transition: opacity 0.5s ease-in 0.2s;
    margin: 10px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    margin-top: 10px;
}

.imgContainer img {
    max-width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 5px;
    margin-bottom: 20px;
}

.shrink img {
    transition: 1s ease;
}

.shrink img:hover {
    transform: scale(0.8);
    transition: 1s ease;
}

.projectTitle {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    width: 100%;
    color: #242526;
}

.projectlines {
    margin-top: 5px;
    background-color: #d1cfcf;
    height: 1px;
    border: none;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.projectSkills {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

.projectAbout {
    width: 90%;
    height: 100px;
    text-align: left;
    object-fit: fill;
    font-size: 14px;
    margin: 18px;

}

.btnContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    border: 2px solid #242526;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    font-size: 14px;
    width: 100px;
    text-decoration: none;
    text-align: center;
}

.btn:visited {
    color: #242526;
}

#demo {
    border: 3px solid #242526;
}

#demo:hover {
    background-color: #242526;
    color: whitesmoke;
}

#demo:hover+#code {
    border: 3px solid #242526;
    background-color: whitesmoke;
    color: #242526;
}

#code {
    background-color: #242526;
    color: whitesmoke;
}

#code:hover {
    border: 3px solid #242526;
    background-color: whitesmoke;
    color: #242526;
}

#skillsPage {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    padding-top: 12vh;
    padding-bottom: 70px;

}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.skillItem {
    flex: 0 0 calc(25% - 20px);
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 140px;
    transition: transform 0.5s;
    color: white;
    text-align: center;
    max-width: calc(25% - 20px);
    width: 12vw;
    height: auto;
    margin: 15px;
}

.skillItem:hover {
    color: black;
    transform: scale(1.4);
}

.skillItem:hover #skillTitle {
    color: #242526;
}

#skillIcon {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in 1s;
    height: auto;
    width: 12vw;
    margin-top: 10px;
}

#skillTitle {
    margin-top: 10px;
    color: white;
}


#aboutPage {
    background-color: #ebebeb;
    width: 100%;
    min-height: 100vh;
    padding-top: 12vh;
    padding-bottom: 70px;

}

.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.aboutText {
    text-align: justify;
    text-indent: 10px;
    flex: 1;
    padding: 0 3vw;
    font-size: 1.8vw;
}

#aboutPic {
    width: 38vw;
    height: auto;
    flex-shrink: 0;
    margin-right: 20px;
}




#contactPage {
    background: url(/images/contact-background.avif);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    padding-top: 12vh;
    padding-bottom: 70px;

}

.contactContainer {
    width: 100%;
    height: 100%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactTab {
    width: 300px;
    height: 600px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
}


#headshot {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    padding: 15px;
}

#contactName {
    padding: 15px;
}

#contactPos {
    text-align: center;
}

#contactEmail {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 10px 0;
    text-align: center;
}

#contactLogos {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

a .logoItem {
    width: 70px;
    height: 70px;
}

a .contactCV {
    width: 120px;
    height: 180px;
}

.resume {
    color: #242526;
    border: 2px solid #242526;
    border-radius: 5px;
    padding: 5px;
    margin: 15px;
    font-size: 24px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.resume:visited {
    color: #242526;
}

.resume:hover {
    background-color: #242526;
    color: whitesmoke;
}